@font-face {
    font-family: "Romanica";
    src: url("fonts/Romanica.ttf") format("truetype");
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}

body {
    background: #070514;
    font-family: "Romanica", sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #bbbbbb;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.main-container {
    position: relative;
    width: 280px;
    height: 320px;
    perspective: 1000px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1.5s ease;
    border-radius: 15px;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #4b4588;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #110b25;
    border-radius: 15px;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #110b25;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.back::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(socrates.png);
    opacity: 0.2;
    background-size: cover;
    z-index: -1;
    border-radius: 15px;
}

.back-content {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
    color: #dfdfdf;
}

.aristotle-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #110b25;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.aristotle-back::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(aristotle.png);
    opacity: 0.2;
    background-size: cover;
    z-index: -1;
    border-radius: 15px;
}

.aristotle-back-content {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
    color: #dfdfdf;
}

.plato-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #110b25;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.plato-back::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(plato.png);
    opacity: 0.2;
    background-size: cover;
    z-index: -1;
    border-radius: 15px;
}

.plato-back-content {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
    color: #dfdfdf;
}

.head {
    position: absolute;
}

button {
    color: #dfdfdf;
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #dfdfdf;
    color: #110b25;
}

.socratess {
    position: relative;
    top: 60px;
}

.aristotlee {
    position: relative;
    top: 42px;
}

.platoo {
    position: relative;
    top: 48px;
}